body {
    font-family: 'Poppins', sans-serif;
}

.flexible-aria {
    display: flex;
}

.type-here {
    color: orange;
}

.link-button {
    text-decoration: none;
    background: linear-gradient(tomato orange);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;

}